header img{
    width: 80px;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -25px;
}
header span{
    font-size: 40px;
    position: relative;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
header{
    border-bottom: 1px solid black;
    background-color: white;
}