#activeDeliveries{
    background: rgb(247, 237, 219);
    width: fit-content;
    max-width: 80vw;
    border-radius: 10px;
    padding: 20px;
    margin-top: 55px;
    height: calc(100vh - 185px);
    top: 65px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.74);
    position: absolute;
    z-index: -1;
    overflow-y: auto;
    overflow-x: hidden;
}

.delivery textarea{
    width: 340px;
    height: 50px;
    background-color: white;
    color: black;
}

#time{
    font-size: 20px;
    font-weight: bold;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#error{
    color: red;
    font-size: 14px;
}

#noDeliveries{
    font-size: 20px;
}

.delivery{
    background: linear-gradient(45deg, rgb(233, 233, 233), rgb(211, 211, 211));
    padding: 10px;
    border-radius: 10px;
    width: 370px;
    border: 2px solid black;
    padding-top: 5px;
    margin-bottom: 10px;
}

.delivery button{
    margin-left: 5px;
    text-align: center;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

.delivery input{
    width: 250px;
}

.category strong{
    text-transform: uppercase;
}

.delivery p{
    margin-top: 4px;
    margin-bottom: 4px;
}

#confirm{
    margin-top: 10px;
    color: green;
}

#cancel{
    border: 1px solid red;
    color: rgb(182, 0, 0);
}

#cancelInput{
    border: 1px solid red;
    
}

.kupiType{
    display: none;
}

.kupiTypeBtn{
    width: 355px !important;
}

.choosenFromYou{
    border: 3px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644) !important;
    transform: scale(1.06);
}

.choosenNotFromYou{
    border: 3px solid rgb(48, 48, 48);
    box-shadow: 0 0 10px rgb(48, 48, 48);
    filter: blur(1px);
    transform: scale(0.9);
    // cursor: ;
}

@media screen and (max-width: 720px){
    #activeDeliveries{
        margin-top: 25px;
    }
}